
<head th:replace="fragments_others_head" :: head></head>

<body ng-app='myApp' ng-controller='myCtrl'>
	<div id="layout-wrapper">

		<div th:replace="fragments_others_header" :: header></div>

		<div th:replace="fragments_others_menu" :: menu></div>

		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0"></h4>
								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a
											href="javascript: void(0);">Dashboard</a></li>
										<li class="breadcrumb-item active">NonLive BatchId wise
											Report</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header bg-primary pb-2 pt-2">
									<div class="d-flex justify-content-between">
										<h4 class="card-title text-white mb-0 pt-2">NonLive
											BatchId wise Report</h4>
									</div>
								</div>
								<div class="card-body">
									<form id="validation-form" class="needs-validation" novalidate
										th:action="@{/NonLiveUploadListData}"
										th:object="${NonLiveUploadList}" method="get">
										<div class="row g-3 mt-0 mb-3 pb-3 alert-danger">
											<div class="col-xxl-2 col-sm-4">
												<div>
													<input id="fromdate" name="fromdate" type="date"
														class="form-control flatpickr-input active"
														data-provider="flatpickr" data-date-format="d/m/y"
														data-enable-time 
														placeholder="Start Date" required>
												</div>
											</div>
											<div class="col-xxl-2 col-sm-4">
												<div>
													<input id="Enddate" name="Enddate" type="date"
														class="form-control flatpickr-input active"
														data-provider="flatpickr" data-date-format="d/m/y"
														data-enable-time 
														placeholder="End Date" required>
												</div>
											</div>
											<div class="col-xxl-1 col-sm-4">
												<div>
													<input type="submit"  id="submit"
													class="btn btn-primary w-100" value="Search" />
												</div>
											</div>
										</div>
									</form>
									<div class="table-responsive table-card1 mt-4 mb-1">
										<table id="table1" class="table table-striped"
											style="width: 100%">
											<thead class="alert-info">
												<tr>
												<tr>
													<th>S.No</th>
													<th>Batch ID</th>
													<th>Email Date</th>
													<th>Insert Date</th>
													<th>SSO ID</th>
													<th>COUNT</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="dataVal,iterator : ${NonLiveUploadListData}">
													<td class='in_id' th:text="${iterator.index+1}">S.No</td>
													<td class="reasons" th:text="${dataVal.BATCHID}">Batch
														ID</td>
													<td class="nooftransaction" th:text="${dataVal.EMAILDATE}">Email
														Date</td>
													<td class="nooftransaction" th:text="${dataVal.INSERTDATE}">Insert
														Date</td>
													<td class="nooftransaction" th:text="${dataVal.SSOID}">SSO
														ID</td>
													<td class="nooftransaction" th:text="${dataVal.DATA}">SSO
														ID</td>
													<td>
														<!-- <button data-toggle="modal" data-target="#myModal"
															class="btn btn-info openModal" type="button">View
														</button> -->
														<button type="button" class="btn btn-primary openModal"
															data-toggle="modal" data-target="#myModal"
															data-whatever="@mdo">View</button>
													</td>
												</tr>
											</tbody>
											<tfoot class="alert-info">
												<tr>
													<th>S.No</th>
													<th>Batch ID</th>
													<th>Email Date</th>
													<th>Insert Date</th>
													<th>SSO ID</th>
													<th>COUNT</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>
									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="fragments_others_footer" :: footer></div>

		</div>

		<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="table-responsive table-card1 mt-4 mb-1">
							<div class="table-responsive table-card1 mt-4 mb-1">
								<table id="table2" class="table table-striped"
									style="width: 100%">
									<thead class="alert-info">
										<tr>
											<!-- <th>S.No</th> -->
											<th>SUBAUA CODE</th>
											<th>RESPONSE CODE</th>
											<th>DEVICE PROVIDER</th>
											<th>DEVICE CODE</th>
											<th>MODEL ID</th>
											<th>FINGER MATCH SCORE</th>
											<th>TXN ID</th>
											<th>Ref ID</th>
										</tr>
									</thead>
									<tbody id="table2body">

									</tbody>
									<tfoot class="alert-info">
										<tr>
											<!-- <th>S.No</th> -->
											<th>SUBAUA CODE</th>
											<th>RESPONSE CODE</th>
											<th>DEVICE PROVIDER</th>
											<th>DEVICE CODE</th>
											<th>MODEL ID</th>
											<th>FINGER MATCH SCORE</th>
											<th>TXN ID</th>
											<th>Ref ID</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/libs/simplebar/simplebar.min.js"></script>
	<script src="assets/libs/node-waves/waves.min.js"></script>
	<script src="assets/libs/feather-icons/feather.min.js"></script>
	<script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/jquery-3.5.1.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript"
		src="assets/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript"
		src="assets/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="assets/js/jszip.min.js"></script>
	<script type="text/javascript" src="assets/js/buttons.html5.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script>
		flatpickr("#fromdate", {
			maxDate : "today",
		//enableTime: true,
		//dateFormat: "d/m/y H:i"	   
		});
	</script>
	<script>
		flatpickr("#Enddate", {
			maxDate : "today",
		//enableTime: true,
		//dateFormat: "d/m/y H:i"	   
		});
	</script>
	<script type="text/javascript">
		$(document).ready(
				function() {
					$('#table1').DataTable(
							{
								"pageLength" : 10,
								responsive : true,
								lengthMenu : [ [ 50, 100, 200, 500, -1 ],
										[ 50, 100, 200, 500, 'All' ], ],

								dom : 'Bfrtip',
								buttons : [ 'pageLength','csv', 'excel' ],

								fixedHeader : {
									// header: true,
									footer : true,
								},

							});
				});
	</script>
	<script type="text/javascript">
		var table = '';
		$(document).ready(
				function() {
					table = $('#table2').DataTable(
							{
								"pageLength" : 10,
								responsive : true,
								lengthMenu : [ [ 50, 100, 200, 500, -1 ],
										[ 50, 100, 200, 500, 'All' ], ],

								dom : 'Bfrtip',
								buttons : [ 'pageLength', 'csv', 'excel' ],

								fixedHeader : {
									// header: true,
									footer : true,
								},
								columns : [
								/* {data: "ID"}, */
								{
									data : "SA"
								}, {
									data : "AUTH_RESPONSE_CODE"
								}, {
									data : "DEVICE_PROVIDER_ID"
								}, {
									data : "DEVICE_CODE"
								}, {
									data : "MODEL_ID"
								}, {
									data : "FINGER_MATCH_SCORE"
								}, {
									data : "TXN"
								}, {
									data : "AADHAAR_ID"
								} ]
							});
				});

		$('.openModal').click(function() {
			var batchid = $(this).closest('tr').find('td:nth-child(2)').text();

			var search = {
				"batchid" : batchid
			}
			$.ajax({
				url : "/Authmis/NonLiveUploadListModalData",
				data : search,
				dataType : 'json',
				type : 'get',
				success : function(data) {
					var res = '';
					table.rows.add([]).clear().draw();
					table.rows.add(data).draw();
					$('.modal-title').text("Data for Batch ID : " + batchid);
					$("#myModal").modal('show');
				},
				fail : function() {
					alert("failed");
				}
			});

		})
		$(".close").click(function() {

			$("#myModal").modal('hide');
		});
	</script>
	
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms).forEach(function(form) {
				form.addEventListener('submit', function(event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
		})()
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#submit").click(function() {
				debugger;
				//var conceptName = $('#EXPIRY_DATE').val();
				$("#fromdate").removeAttr("readonly");
				$("#Enddate").removeAttr("readonly");

			});
		});
	</script>
	
	
	
</body>
</html>