
<head th:replace="fragments_others_head" :: head></head>

<body>
	<div id="layout-wrapper">

		<div th:replace="fragments_others_header" :: header></div>

		<div th:replace="fragments_others_menu" :: menu></div>

		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0"></h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a
											href="javascript: void(0);">Dashboard</a></li>
										<li class="breadcrumb-item active">ODD Hours Transaction</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header bg-primary pb-2 pt-2">
									<div class="d-flex justify-content-between">
										<h4 class="card-title text-white mb-0 pt-2">ODD Hours
											Transaction Details 11 PM TO 6 AM)</h4>
									</div>
								</div>
								<div class="card-body">
									<div id="suspectedAadhaar">
										<form id="validation-form" class="needs-validation" novalidate
											th:action="@{/OddHourTransactionMapping}"
											th:object="${ODD_Hour_transaction}" method="get">

											<div class="row g-3 mt-0 mb-3  alert-danger">
												<div class="col-xxl-4 col-sm-5">
													<select class="form-select mb-3"
														aria-label="Default select example" id="subCode"
														name="subCode" required>
														<!-- <option selected="" disabled="" value="">Select
															Department</option> -->
														<option value="ALL">ALL</option>
														<option th:each="subAuaList :${subAuaList}"
															th:value="${subAuaList.ID}" th:text="${subAuaList.NAME}"></option>
													</select>
												</div>
												<div class="col-xxl-2 col-sm-4">
													<div>
														<input id="fromdate" name="fromdate" type="date"
															class="form-control flatpickr-input active"
															data-provider="flatpickr" data-date-format="Y-m-d"
															data-enable-time placeholder="Start Date" required="true">
														<!-- <input  id="frdate" name="frdate" type="date" class="form-control flatpickr-input active"  data-provider="flatpickr"  data-date-format="Y-m-d"  data-enable-time readonly="readonly" placeholder="Start Date" required value=""> -->
													</div>
												</div>
												<div class="col-xxl-2 col-sm-4">
													<div>
														<input id="Enddate" name="Enddate" type="date"
															class="form-control flatpickr-input active"
															data-provider="flatpickr" data-date-format="Y-m-d"
															data-enable-time placeholder="End Date" required="true">
													</div>
												</div>
												<div class="col-xxl-1 col-sm-4">
													<div>
														<input type="submit" id='submit'
															class="btn btn-primary w-100" value="Submit" />
													</div>
												</div>
											</div>
										</form>
										<div class="card bg-info bg-opacity-10 p-3 text-center">
											<div class="d-flex fs-5 justify-content-center text-center ">
												From Date : <span th:text="${FROM_DATE}" id="from_date"
													class="me-4 text-primary"></span> End Date : <span
													th:text="${END_DATE}" id="end_date" class=" text-primary"></span>
											</div>
										</div>
										<div class="table-responsive table-card1 mt-4 mb-1">
											<table id="example" class="table table-striped"
												style="width: 100%">
												<thead class="alert-info">
													<tr>
														<th>S.No</th>
														<th>SUB AUA CODE</th>
														<th>SUB AUA Name</th>
														<th>ODD Hour Transactions</th>
														<th>ACTION</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="dataVal,iterator : ${result}">
														<td th:text="${iterator.index+1}"></td>
														<td class="reasons" th:text="${dataVal.SUB_AUA_CODE}">SUB
															AUA CODE</td>
														<td class="reasons" th:text="${dataVal.ORGNAME}">SUBAUA
															NAME</td>
														<td class="reasons" th:text="${dataVal.TOTCNT}">ODD
															Hour Transactions</td>
														<td>
															<!-- <button data-toggle="modal" data-target="#myModal"
															class="btn btn-info openModal" type="button">View
														</button> -->
															<button type="button" class="btn btn-primary openModal"
																data-toggle="modal" data-target="#myModal"
																data-whatever="@mdo">View</button>
														</td>
													</tr>
												</tbody>
												<tfoot class="alert-info">
													<tr>
														<th>S.No</th>
														<th>SUB AUA CODE</th>
														<th>SUBAUA Name</th>
														<th>ODD Hour Transactions</th>
														<th>ACTION</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments_others_footer" :: footer></div>
		<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="table-responsive table-card1 mt-4 mb-1">
							<div class="table-responsive table-card1 mt-4 mb-1">
								<table id="table2" class="table table-striped"
									style="width: 100%">
									<thead class="alert-info">
										<tr>
											<!-- <th>S.No</th> -->
											<th>ORGNAME</th>
											<th>SUB_AUA_KEY</th>
											<th>CREATED_DATE</th>
											<!-- <th>AADHAAR_ID</th> -->

										</tr>
									</thead>
									<tbody id="table2body">

									</tbody>
									<tfoot class="alert-info">
										<tr>
											<!-- <th>S.No</th> -->
											<th>ORGNAME</th>
											<th>SUB_AUA_KEY</th>
											<th>CREATED_DATE</th>
											<!-- <th>AADHAAR_ID</th> -->
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<button onclick="topFunction()" class="btn btn-danger btn-icon"
			id="back-to-top">
			<i class="ri-arrow-up-line"></i>
		</button>
		<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/libs/feather-icons/feather.min.js"></script>
	<script type='text/javascript' src='assets/libs/flatpickr/flatpickr.min.js'></script>
	<script src="assets/js/jquery-3.5.1.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" src="assets/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript"	src="assets/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="assets/js/jszip.min.js"></script>
	<script type="text/javascript" src="assets/js/buttons.html5.min.js"></script>
	<script src="assets/js/app.js"></script>
		<script type="text/javascript">
			$(document).ready(
					function() {
						$('#example').DataTable(
								{
									"pageLength" : 50,
									responsive : true,
									lengthMenu : [ [ 50, 100, 200, 500, -1 ],
											[ 50, 100, 200, 500, 'All' ], ],

									dom : 'Bfrtip',
									buttons : [ 'pageLength', 'csv', 'excel' ],

									fixedHeader : {
										// header: true,
										footer : true,
									},

								});
					});
		</script>
		<script type="text/javascript">
			var table = '';
			$(document).ready(
					function() {
						table = $('#table2').DataTable(
								{
									"pageLength" : 10,
									responsive : true,
									lengthMenu : [ [ 50, 100, 200, 500, -1 ],
											[ 50, 100, 200, 500, 'All' ], ],

									dom : 'Bfrtip',
									buttons : [ 'pageLength', 'csv', 'excel' ],

									fixedHeader : {
										// header: true,
										footer : true,
									},
									columns : [ {
										data : "ORGNAME"
									}, {
										data : "SUB_AUA_CODE"
									}, {
										data : "TRANSACTION_DATE"
									}]
								});
					});

			$('.openModal')
					.click(
							function() {
								debugger;
								var SUB_AUA_CODE = $(this).closest('tr').find(
										'td:nth-child(2)').text();
								var from_date = document
										.getElementById("from_date").innerText;
								var end_date = document
										.getElementById("end_date").innerText;

								var search = {
									"SUB_AUA_CODE" : SUB_AUA_CODE,
									"FROM_DATE" : from_date,
									"END_DATE" : end_date

								}
								$.ajax({
									url : "/Authmis/oddhourtransactionsdetails",
									data : search,
									dataType : 'json',
									type : 'get',
									success : function(data) {
										var res = '';
										table.rows.add([]).clear().draw();
										table.rows.add(data).draw();
										$('.modal-title').text(
												"Data for SUB_AUA_CODE : "
														+ SUB_AUA_CODE);
										$("#myModal").modal('show');
									},
									fail : function() {
										alert("failed");
									}
								});

							})
			$(".close").click(function() {

				$("#myModal").modal('hide');
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#submit").click(function() {
					debugger;
					//var conceptName = $('#EXPIRY_DATE').val();
					$("#fromdate").removeAttr("readonly");
					$("#Enddate").removeAttr("readonly");

				});
			});
		</script>
		<script>
			flatpickr("#fromdate", {
				maxDate : "today",
				enableTime : true,
				dateFormat : "Y-m-d"
			});
		</script>
		<script>
			flatpickr("#Enddate", {
				maxDate : "today",
				enableTime : true,
				dateFormat : "Y-m-d"
			});
		</script>
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
				'use strict'

				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.querySelectorAll('.needs-validation')

				// Loop over them and prevent submission
				Array.prototype.slice.call(forms).forEach(function(form) {
					form.addEventListener('submit', function(event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})
			})()
		</script>
		<script>
			var topFunction = function() {
				window.scrollTo(0, 0);
			};
		</script>
			<script>/* $.each(results['hide'], function(name, title) {   
		debugger;
	    $(document.getElementById("subAuaCode").options).each(function(index, option) {
	        if( option.value == "ALL" ) {
	          option.hidden = true; // not fully compatible. option.style.display = 'none'; would be an alternative or $(option).hide();
	        }
	      });
	  }); */
	  
	  /* jQuery('#subAuaCode').children('option[value="ALL"]').hide();
	  jQuery('#subAuaCode').children('option[value="ALL"]').css('display','none'); */
	 var col2=  $('#subCode option').length;
	  console.log(col2);
	  if(col2==2)
		{
		 jQuery('#subCode').children('option[value="ALL"]').remove();
		// jQuery('#subCode').val("DOIT"); 
		}
		if(col2==3)
			{
			 jQuery('#subCode').children('option[value="ALL"]').remove();
			// jQuery('#subCode').val("DOIT"); 
			}
		
	  
	 
	  </script>
		
</body>
</html>