<html>
<head th:replace="fragments_others_head" :: head></head>

<body>
	<div id="layout-wrapper">

		<div th:replace="fragments_others_header" :: header></div>

		<div th:replace="fragments_others_menu" :: menu></div>

		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0"></h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a
											href="javascript: void(0);">Dashboard</a></li>
										<li class="breadcrumb-item active">Edit Sub Aua Details</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header bg-primary pb-2 pt-2">
									<div class="d-flex justify-content-between">
										<h4 class="card-title text-white mb-0 pt-2 ">Edit Sub
											Aua Details</h4>
									</div>
								</div>
								<div class="card-body">
									<div id="suspectedAadhaar" >
										<form class="needs-validation" novalidate
											th:action="@{/subauaLicenseKeydata}"
											th:object="${subauaLicenseKeydata}" method="GET">
											<div class="alert alert-primary" role="alert"
												th:text="${success}" th:if="${success}"></div>
											<div class="alert alert-danger" role="alert"
												th:text="${error}" th:if="${error}"></div>
											<div class="table-responsive table-card1 mt-4 mb-1">
												<table id="example" class="table table-striped" style="width: 100%">
													<thead class="alert-info">
														<tr>
															<th>S.NO</th>
															<th>SUBAUA CODE</th>
															<th>SubAUA</th>
															<th>PHONE NUMBER</th>
															<th>EMAIL</th>
															<th>STATUS</th>
															<th>EDIT</th>
															<th>ACTION</th>
														</tr>
													</thead>
													<tbody class="list form-check-all">
														<tr th:each="dataVal, iterator : ${subauaLicenseKeydata}">
															<td th:text="${iterator.index+1}"></td>
															<td th:text="${dataVal.SUBAUA_CODE}"></td>
															<td th:text="${dataVal.ORGNAME}"></td>
															<td th:text="${dataVal.PHONE}"></td>
															<td th:text="${dataVal.EMAIL}"></td>
															<td th:text="${dataVal.ACTIVE}"></td>
															<td><a class="btn btn-danger" th:href="@{/edit1/{TID}(TID=${dataVal.TID})}">EDIT</a></td>
															<td>
																<!-- Display activate button only if status is 'DE-ACTIVE' -->
																<button th:if="${dataVal.ACTIVE == 'DE-ACTIVE'}" class="btn btn-danger subauuId" th:attr="data-tid=${dataVal.TID}"
																	onclick="openOtpModal(this,event)">
																	Activate
																</button>
															
															</td>
															</tr>
													</tbody>
													<tfoot class="alert-info">
														<tr>
															<th>S.NO</th>
															<th>SUBAUA CODE</th>
															<th>SubAUA</th>
															<th>PHONE NUMBER</th>
															<th>EMAIL</th>
															<th>STATUS</th>
															<th>EDIT</th>
															<th>ACTION</th>
														</tr>
													</tfoot>
												</table>
												
												</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		
				<div class="modal fade" id="otpPopupP1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle" >XXXXXXXX5845</h5>
                <button type="button" class="cancel" data-dismiss="modal" aria-label="Close" onclick="closeandCancelModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formOtp">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="popupbox11">
                                <input type="checkbox" id="agree1" name="agree1" value="Bike" onclick="concernCheckbox(this)">
                                <label for="agree1">  I hereby state that i have no objection in authenticating myself with AADHAAR based authentication system and consent to providing my AADHAAR Number, and OTP for AADHAAR based Authentication. I also give my explicit consent for accessing the mobile number and email address from AADHAAR System. </label>
                            </div>
                            <div class="otpinputbox1">
                                <input type="text" id="otp" name="otp" maxlength="6" style="display: none;" placeholder="OTP (Time-Based OTP)">
                                <label class="left10minutes" style="display: none;">Note : AADHAAR OTP will be valid only for 10 minutes.</label><br>
                                <label class="opt2minutes" style="display: none;">Resend OTP <span class="otp-countdown" id="timer-countdown">02:00</span></label>
                            </div>
                        </div>
                        <div class="flexbuttonOTP">
                            <button type="button" class="btn btn-primary" id="sendOTP1" onclick="sendOtp()" disabled>Send OTP</button>
                            <button type="button" class="btn btn-primary" id="OTPvalidatebtn" style="display: none;" onclick="validateOtp()">Validate OTP</button>
                            <button type="button" class="btn btn-primary" id="resentOTP" style="display: none;" onclick="resendOtp()">ReSend OTP</button>
                            <button type="button" class="btn btn-primary cancel" data-dismiss="modal" onclick="closeandCancelModal()">Cancel</button>
                           <input type="text" id="txn" name="txn" style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="successMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Message !!
						</h5>
						<button type="button" class="closeModel" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
		
						<form>
							<div class="row">
								<div class="col-sm-12">
									<div class="popupbox">
										<p class="text-success" id="SuccessFailuremsg"></p>
									</div>
		
								</div>
		
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>



		<button onclick="topFunction()" class="btn btn-danger btn-icon"
			id="back-to-top">
			<i class="ri-arrow-up-line"></i>
		</button>
		<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/libs/feather-icons/feather.min.js"></script>
	<script type='text/javascript' src='assets/libs/flatpickr/flatpickr.min.js'></script>
	<script src="assets/js/jquery-3.5.1.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" src="assets/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript"	src="assets/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="assets/js/jszip.min.js"></script>
	<script type="text/javascript" src="assets/js/buttons.html5.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/otpValidation.js"></script>
	
		<script type="text/javascript">
			$(document).ready(
					function() {
						var sPageURL = window.location.search.substring(1);
						var sURLVariables = sPageURL.split('&');

						$('#example').DataTable(
								{
									"pageLength" : 50,
									responsive : true,
									lengthMenu : [ [ 50, 100, 200, 500, -1 ],
											[ 50, 100, 200, 500, 'All' ], ],

									dom : 'Bfrtip',
									buttons : [ 'pageLength', 'csv', 'excel' ],

									fixedHeader : {
										// header: true,
										footer : true,
									},

								});
					});
		</script>
			<script>
		var topFunction = function() {
		    window.scrollTo(0, 0);
		};
		</script>
		
		<script>
			 let subauuId;
			 function openOtpModal(event,e){
				 e.preventDefault();
				 subauuId = event.getAttribute('data-tid')
				 $('#otpPopupP1').modal('show');
			 }
			 
			 
			 function validateOtp() {

								var otpValue = $("#otp").val();
								if (otpValue === "" || !$.isNumeric(otpValue)) {
									alert("Please enter a valid number OTP.");
								} else {
									$.ajax({

										url: '/OTPAuthentication?OTP=' + otpValue,
										method: 'POST',
										cache: false,
										contentType: 'application/json', // Set the content type
										success: function (response) {
											if (response.auth.status == 'Y' || response.auth.status == 'y') {
												submitForm();
												alert('OTP Authenticated Successfully ');
												closeandCancelModal();
											} else {
												alert(response.message);
											}

										},
										error: function (xhr, status, error) {
											alert("Interanal Server Error");
										}
									});

								}
							}
							
							
				function submitForm(){
					$.ajax({
							type: 'POST',
							url: '/activateSubaua?id='+subauuId, // Change this to your actual URL
							
							contentType: 'application/json',

							success: function (response) {
								
								$('#SuccessFailuremsg').text(response);
								$('#successMessage').modal('show');
								
							},
							error: function (xhr, status, error) {
								
								var errorMessage = xhr.responseText || 'Error saving data';
								$('#SuccessFailuremsg').removeClass('text-success').addClass('text-danger').text(errorMessage);
								$('#successMessage').modal('show');
								console.error('Error saving data:', error);
							}
						});
	
				}		
				
				$(".closeModel").click(function () {
							$('#successMessage').modal('hide');
							location.reload();
						});	
			 
		</script>
</body>

</html>